/*==========================*/
/* HEADER */

/*.site_header {
}*/

/*==========================*/
/* BODY */

.main_nav {
  display: flex;
  justify-content: center;
  padding: 0px 10px 20px 10px;
  margin: 10px 10px -35px 10px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 1px 30px;
}

section {
  display: flex;
  flex-direction: column;
}

/* = WEB LINKS = */

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: rgb(199, 158, 13);
}

/*==========================*/
/* ASK BRIAN IF <hr> TAG IS OK */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*==========================*/

/*==========================*/
/* FOOTER */

footer {
  position: relative;
  color: white;
  background-color: #444;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: -5px 0px 0px 0px;
}
