/*===========================================*/

.loader {
  display: none;
}

/* ======== PROJECT TEMPLATE ======== */

.project_container {
  display: flex;
  flex-direction: column;
}

.project_img  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_links {
  display: flex;
  flex-direction: column;
}

.git_repo {
  display: flex;
}

.launch_site {
  display: flex;
}

.project_body {

}


/*===========================================*/

/* ======== EDUCATION TEMPLATE ======== */

.resume_title {
  font-size: 20px;
}

.edu_class {
  text-transform: uppercase;
  font-family: serif;
  font-size: 13px;
  margin-bottom: 7px;
}

.edu_location {
  font-size: 12px;
}

.edu_body {
  font-size: 14px;
}

.edu_body_list {
  font-family: serif;
  font-size: 14px;
}

.edu_body_list li{
  list-style: square;
  margin-left: 20px;
}

.date_container em {
  font-size: 13px;
}

/*===========================================*/

/* ======== TITLE ======== */

.top_header {
  position: relative;
  color: rgb(199, 158, 13);
  background-color: #444;
  right: 0;
  top: 0;
  left: 0;
  text-align: right;
  padding: 0px 20px 0px 0px;
}

#name {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: -10px;
}

/*===========================================*/

/* ======== NAVIGATION ======== */

.main_nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;

}

.icon-menu {
  display: block;
  float: right;
  font-size: 32px;
  padding: 0px 0px 0px 0px;
}

.main_nav li {
  display: flex;
}

.main_nav:hover ul {
  display: block;
  float: right;
  flex-direction: row;
  justify-content: center;
}

/*===========================================*/

/* ============ MAIN BODY ============*/

/* ==== HOME ==== */

/* ======== RESUME ========*/

.resume_header {
  display: flex;
  justify-content: center;
}

/* ==== PORTFOLIO ==== */

/* ==== CONTACT PAGE ==== */
.contact_container {
  display: flex;
  flex-direction: column;
  /*margin: 50px 0px 75px 0px;*/
}

.contact_img {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.contact_container:last-child {
  margin-bottom: 20px;
}

.repos_contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.repos_contact li {
  display: flex;
  justify-content: center;
  list-style: square;
}
/*===========================================*/

/* ======== SPACEBAR AND CLEARFIX ======== */

.space {
  width: 100px;
  height: 4px;
  background-color: #730379;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.clearfix {
  clear:both;
}

/*===========================================*/
