/*===========================================*/
/* ======== PROJECT TEMPLATE ======== */

/*section class="project_container*/
.project_container {
  display: flex;
  flex-direction: column;
}

/*div class="project_img"*/
.project_img  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*section class="project_info"*/
.project_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*ul class="project_links"*/
.project_links {
  display: flex;
  flex-direction: column;
}

/*li class="git_Repo"*/
.git_Repo {
  display: flex;
}

/*li class="launch_site"*/
.launch_site {
  display: flex;
}

/*div class="project_body"*/
.project_body {

}


/*===========================================*/

/* ======== EDUCATION TEMPLATE ======== */

.resume_title {
  font-size: 22px;
}

.edu_class {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 7px;
}

.edu_location {
  font-size: 12px;
}

.edu_body {
  font-size: 14px;
}




/*===========================================*/

/* ======== TITLE ======== */

/*header class="top_header"*/
.top_header {
  position: relative;
  color: white;
  background-color: #444;
  right: 0;
  top: 0;
  left: 0;
  text-align: left;
  padding: -5px 0px 0px 0px;
}

/*h1 id="name"*/
#name {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: -10px;
  font-family: 'Montserrat', sans-serif;
}

/*===========================================*/

/* ======== NAVIGATION ======== */

/*nav class="main_nav"*/
.main_nav {
  display: flex;
  justify-content: flex-start;
}

/*div class="icon-menu"*/
.icon-menu {
  display: block;
  float: right;
  font-size: 32px;
  padding: 25px 0px 0px 0px;
}

.main_nav:hover ul {
  display: block;
  float: right;
  flex-direction: row;
}

/*===========================================*/

/* ============ MAIN BODY ============*/

/* ======== RESUME ========*/

/*h4 class="resume_header"*/
.resume_header {
  display: flex;
  justify-content: center;
}

/* ==== EDUCATION ==== */


/* ==== COLLEGE ==== */


/* ==== CODE FELLOWS ==== */


/*===========================================*/

/* ======== SPACEBAR AND CLEARFIX ======== */

.space {
  width: 100px;
  height: 4px;
  background-color: rgb(199, 158, 13);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.clearfix {
  clear:both;
}

/*===========================================*/
