/*===========================================*/

/* ======== MEDIA QUERIES FOR WEB ========*/

@media only screen and (min-width: 650px) {
  /*===========================================*/
  /* ==== HAMBURGER BAR ==== */

  .lower_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
  }

  .loader {
  	display: flex;
    padding: 0px 0px 0px 5px;
  	/*z-index: 9999;*/
  	/*background: url('gears.gif') 50% 50% no-repeat white;*/
  }

  #name {
    display: flex;
    padding: 0px 5px 0px 0px;

  }

  .space {
    background-color: #c79e0d;
  }


  .icon-menu {
    display: none;
    clear: right;
  }

  .main_nav {
    display: flex;
    margin: 10px 0px 0px -10px;
    justify-content: space-around;
    /*clear: both;*/
    background-color: rgb(199, 158, 13);
  }

  #nav {
    margin-bottom: -1px;
    display: inline-flex;
    clear: both;
    background-color: white;
;
  }

  .main_nav:hover ul {
    display: none;
  }

  .site_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /*===========================================*/
  /* ==== RESPONSIVE IMAGES ==== */
  .project_container {
    display: flex;
    flex-direction: row;
  }

  .project_img {
    height: 155px;
    width: 250px;
    margin-top: 50px;
    /*padding: 5px;*/
  }

  img {
    display: flex;
    justify-content: center;
  }

  .project_name {
    display: flex;
    justify-content: center;
    padding-right: 172px;
  }

  .project_info {
    display: flex;
    margin: 10px 80px 0px 0px;
  }

  .tab_content {
    display: flex;
    flex-direction: column;
    /*margin: 0px 70px 0px 0px;*/
  }


  /*===========================================*/
  /* ==== FADE IN ==== */

  hr {
    margin-bottom: 20px;
  }

  /*===========================================*/

  .edu_div {
    display: flex;
    flex-direction: row;
  }

  #edu_1, #edu_2, #edu_3 {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px -25px;
  }

  .date_container em{
    margin-left: 5px;
  }

  .edu_container {
    display: flex;
    margin-top: 20px;
  }

  .edu_body_container {
    display: flex;
    margin: 0px 20px 0px 100px;
  }

  .resume_title {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 15px 0px 0px 20px;
  }

  .edu_container {
    display: flex;
    flex-direction: row;
  }

  .edu_date {
    display: flex;
    width: 200px;
    font-size: 13px;
  }

  .edu_class {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 7px;
  }

  .edu_location {
    font-size: 12px;
  }

  .edu_body {
    font-size: 14px;
  }

  .edu_body_list {
    font-family: serif;
    font-size: 14;
    margin: 0px 0px -15px 5px;
  }

  .edu_body_list ul {
    margin-left: 20px;
  }

  /* ==== FOOTER ==== */

  footer {
    position: relative;
    color: white;
    background-color: #444;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: -5px 0px 0px 0px;
  }
}


@media only screen and (min-width: 890px) {
  /* ==== CONTACT PAGE ==== */
  .contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0px 75px 0px;
  }

  .contact_img {
    display: flex;
  }
}
