/*===========================================*/

/* ======== MEDIA QUERIES FOR WEB ========*/

@media only screen and (min-width: 650px) {
  /*===========================================*/
  /* ==== HAMBURGER BAR ==== */

  .icon-menu {
    display: none;
    clear: right;
  }

  .main_nav {
    display: flex;
    justify-content: space-around;
    clear: both;
  }

  #nav {
    display: inline-flex;
    clear: both;
    margin: 0px;
  }

  .main_nav:hover ul {
    display: none;
  }

  .site_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /*===========================================*/
  /* ==== RESPONSIVE IMAGES ==== */
  .project_container {
    display: flex;
    flex-direction: row;
  }

  .project_img {
  height: 135px;
  width: 250px;
  margin-top: 50px;
  /*padding: 5px;*/
  }

  img {
    display: flex;
    justify-content: center;
  }

  .project_name {
    display: flex;
    justify-content: center;
  }


  /*===========================================*/
  /* ==== FADE IN ==== */



  /*===========================================*/

  .edu_div {
    display: flex;
    flex-direction: row;
  }

  .edu {
    
  }

  .resume_title {
    font-size: 22px;
  }

  .edu_container {

  }

  .edu_class {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 7px;
  }

  .edu_location {
    font-size: 14px;
  }

  .edu_body {
    font-size: 14px;
  }





}
